//--------------
//	!Import		
//--------------

@import "bootstrap/bootstrap.less";


//--------------
//	!Variables		
//--------------

// Colors
@colorMain: #f79445;
@colorMainDark: #d94a3d;
@colorMainLight: #f2Cea2;

@colorSub: #2983a6;
@colorSubDark: #1c4d8c;
@colorSubLight: lighten(#2983a6, 10%);

// Black and white
@black: #000;
@grey-90: lighten(@black, 10%);
@grey-80: lighten(@black, 20%);
@grey-70: lighten(@black, 30%);
@grey-60: lighten(@black, 40%);
@grey-50: lighten(@black, 50%);
@grey-40: lighten(@black, 60%);
@grey-30: lighten(@black, 70%);
@grey-20: lighten(@black, 80%);
@grey-10: lighten(@black, 90%);
@white: #fff;

// Shadow
@shadowLight: fade(@black, 20%);
@shadow: fade(@black, 50%);
@shadowDark: fade(@black, 80%);

// Glow
@glowFull: fade(@white, 90%);
@glowDark: fade(@white, 80%);
@glow: fade(@white, 50%);
@glowLight: fade(@white, 20%);

// Fonts
@body: 'Gentium Basic', serif;
@heading: 'Josefin Slab', serif;

// Button size
@button-size: 1em; 

//--------------
//	!Basic		
//--------------

html, body{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: @body;
	font-size: 1em;
	line-height: 1.6em;
}

p{
	font-family: @body;
	font-size: 0.9em;
	color: @grey-50;
}

h1, h2, h3, h4, h5{
	font-family: @heading;
	color: @grey-50;
	font-weight: 100;
}

h1{
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 2.5em;
}

h5{
	font-size: 1.5em;
	color: @colorMain;
	letter-spacing: 0.2em;
	padding: 0;
}

h6{
	font-family: @body;
	font-size: 1em;
	font-weight: bold;
	color: @colorMain;
	text-transform: uppercase;
	padding: 0;
}

/*
.testblock{
	position: relative;
	width: 100%;
	height: 200px;
	background: @grey-60;
}
*/

@playSize: 40px;
.playBtn{
	//position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	//width: 100%; height: 100%;
	color: @grey-30;
	border-color: @grey-30;
	background: fade(@grey-30, 30%);
	&:hover{
		color: @white;
		border-color: @white;
		background: fade(@white, 30%);
		.tri-text{
			opacity: 1;
			.transform( translate(0, 0) );
		}
	}
	.tri-btn{
		position: relative; //top: 50%; left: 50%;
		display: inline-block;
		float: left;
		//margin: -@playSize/2 0 0 -@playSize/2;
		padding: @playSize/4 @playSize/3.342;
		background: inherit;
		border: 2px solid #fff;
		border-radius: 100%;
		border-color: inherit;
		.tri{
			width: 0;
			height: 0;
			margin-right: -@playSize/15;
			margin-left: @playSize/15;
			border-style: solid;
			border-width: @playSize/4 0 @playSize/4 @playSize/2.4;
			border-color: transparent transparent transparent inherit;
		}
	}
	a{
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		width: 100%;
		height: 100%;
	}
	.tri-text{
		display: inline-block;
		float: left;
		margin: 0 0 0 10px;
		color: inherit;
		font-size: 1.3em;
		line-height: @playSize;
		opacity: 0;
		.transform( translate(-20px, 0) );
		.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
		.transition-transform( .5s, opacity .5s; );
	}
}

.playWhite, .playMain, .playSub{
	.transition( color .3s, border-color .3s, background .3s );
}

.playWhite{
	color: @grey-30;
	border-color: @grey-30;
	background: fade(@grey-30, 30%);
	&:hover{
		color: @white;
		border-color: @white;
		background: fade(@white, 30%);
	}
}

.playMain{
	color: @colorMain;
	border-color: @colorMain;
	background: fade(@colorMain, 30%);
	&:hover{
		color: @colorMainLight;
		border-color: @colorMainLight;
		background: fade(@colorMainLight, 30%);
	}
}

.playSub{
	color: @colorSub;
	border-color: @colorSub;
	background: fade(@colorSub, 30%);
	&:hover{
		color: @colorSubLight;
		border-color: @colorSubLight;
		background: fade(@colorSubLight, 30%);
	}
}

.btn-icon{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 65px;
	padding: 0;
	margin: 0 0 20px;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background: transparent;
	.transition( all .3s );
	.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
	&:before, &:after{
		position: absolute;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		font-size: 1.8em;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		.transform( translate(-15px, -150%) );
		.transition-transform( .3s );
		.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
	}
	&-small{
		display: inline-block;
		width: auto;
		font-size: .8em;
		background: @white;
		&:before, &:after{
			font-size: 1.5em;
			color: @colorMain;
		}
	}
	&-light{
		background: @glow;
		&:before, &:after, a{
			color: @grey-80;
		}
		
	}
	&-dark{
		background: @shadow;
		&:before, &:after, a{
			color: @white;
		}
	}
	a{
		display: block;
		width: 100%;
		height: 100%;
		padding: 20px;
		text-shadow: none;
		text-align: center;
		font-size: 1.2em;
		.transform( translate(0, 0) );
		.transition-transform( .3s );
		.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );	
	}
	input[type="submit"]{
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		color: rgba(0, 0, 0, 0);
	}
	&:hover{
		&:before, &:after{
			.transform( translate(-15px, 60%) );
		}
		a, input[type="send"]{
			.transform( translate(0, 150%) );
		}
	}
}

//--------------
//	!Header
//--------------

.header{
	width: 100%;
	height: 55px;
	background-color: @glowDark;
	box-shadow: 0 0 15px -5px @shadow;
	position: fixed; top: 0; left: 0;
	z-index: 100;
	.transition( background 0.3s );
	.mainMenu ul{
		margin: 7px auto 0;
		float: right;
		&.nav-pills>li>a{
			padding: 5px 10px;
			.transition( padding 0.3s );
		}
	}
	.mobileLink{
		position: fixed; top: 0; right: 0;
		display: none;
		margin-top: 12px;
		font-size: 1.4em;
		.lines{
			background: @colorMain;
			&:before,
			&:after{
				background: @colorMain;
			}
		}
		.mobileBtn{
			font-size: 2em;
			float: right;
			.transition( all 0.3s );
			span{
				float: right;
			}
		}
	}
	&.transHeader{
		background-color: transparent;
		box-shadow: none;
		color: @white;
		.mobileLink{
			display: none;
			margin-top: 0;
			.lines{
				background: @white;
				&:before,
				&:after{
					background: @white;
				}
			}
			.mobileBtn{
				font-size: 3em;
				margin-top: 10px;
				float: right;
				color: @white;
			}
		}
		.logoText{
			margin: 16px 0 0 60px;
			h5, h6{
				color: @white;
			}
			h5{
				margin: 0;
			}
			h6{
				margin: -3px 0 0;
			}
		}
		.logo a img{
			height: 90px;
			display: block;
			&.logoWhite{
				opacity: 1;
			}
		}
		.mainMenu ul{
			margin: 22px auto 0;
			&.nav-pills>li.active>a,
			&.nav-pills>li.active>a:focus,
			&.nav-pills>li.active>a:hover{
				background: @white;
				color: @colorMain;
			}
			&.nav-pills>li>a{
				padding: 10px 15px;
				color: @white;
				background: transparent;
			}
			&.nav-pills>li a:hover{
				background: @glow;
			}
		}
	}
	div.logoGroup{
		padding: 3px;
	}
	.logo{
		position: relative;
		float: left;
		a{
			display: block;
			border: none;
			text-decoration: none;
			img{
				height: 50px;
				width: auto;
				.transition( all 0.3s );
				&.logoWhite{
					position: absolute; left: 0; top: 0;
					opacity: 0;
				}
			}
		}
	}
	.logoText{
		margin: 3px 0 0 40px;
		.transition( margin 0.3s );
		h5{
			margin: 0;
			.transition( color 0.3s );
		}
		h6{
			margin: -3px 0 0;
			.transition( color 0.3s );
		}
	}
}

a.backTop{
	position: fixed; bottom: 20px; right: 20px;
	width: 55px;
	height: 60px;
	margin-top: 17px;
	padding: 5px;
	float: right;
	z-index: 15;
	
	background: @colorMain;
	box-shadow: inset 0 -4px 0 darken(@colorMain, 20%), 0 0 20px -8px @shadow;
	color: @white;
	border-radius: 2px;
	opacity: 0;
	
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	
	.transition( opacity 0.3s, bottom .2s, background .2s, box-shadow .2s );
	&:hover{
		bottom: 18px;
		background: lighten(@colorMain, 5%);
		box-shadow: inset 0 -3px 0 darken(@colorMain, 20%), 0 0 20px -8px @shadow;
	}
	&.show{
		opacity: 1;
		&.stickBottom{
			position: relative; bottom: 100px;
		}
	}
}

.header{
	.logoGroup{
		display: inline-block;
		padding: 5px;
		border-radius: 5px;
		.transition( background .3s );
		&:hover{
			> .logo a img.logoWhite{
				opacity: .3;
			}
			> .logoText h6, .logoText h5{
				color: lighten(@colorMain, 10%);
			}
		}
	}
	&.transHeader{
		.logoGroup:hover{
			background: @glowLight;
			> .logo a img.logoWhite{
				opacity: 0;
			}
			> .logoText h6, .logoText h5{
				color: @colorMain;
			}
		}
	}
}

//--------------
//	!Pages		
//--------------

.fullPage{
	position: relative;
	width: 100%;
    //height: 99%;
    min-height: 100%;
    &:after{
	    content: '';
	    pointer-events: none;
	    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	    width: 100%;
	    height: 100%;
	    background: @shadow;
	    z-index: 99;
	    opacity: 0;
	    .transition( opacity .3s );
    }
    &.overlay:after{
	    opacity: 1;
    }
	.container{
		position: relative; top: 0; left: 0;
		display: table;
		height: 99%;
		min-height: 100%;
		z-index: 5;
		padding-top: 65px;
		.vAlign{
			padding: 40px 0;
			display: inline-block;
			display: table-cell;
			vertical-align: middle;
		}
	}
}


//--------------
//	!Mobile Menu		
//--------------

.mobilePage{
	position: fixed; left: -100%;
	width: 80%;
    height: 100%;
    min-height: 100%;
    height: auto;
    background: @colorMain;
    z-index: 9999;
    box-shadow: 0 0 50px -10px;
    .transition( left .8s );
    h1{
	    color: @white;
    }
    ul.mobileMenu{
	    width: 100%;
	    margin: 40px 0 0;
	    padding: 0 10%;
	    list-style: none;
	    li{
		    width: 100%;
		    display: block;
		    margin: 0 0 20px 0;
		    text-align: center;
		    a{
			    display: block;
			    width: 100%;
			    padding: 10px;
			    font-family: @heading;
			    font-size: 1.3em;
			    font-weight: 100;
			    text-decoration: none;
			    color: @white;
			    border: none;
			    .transition( background .3s );
			    &:hover{
				    background: fade(@colorMainLight, 30%);
				    border: none;
				    text-decoration: none;
			    }
		    }
	    }
    }
}
 
.lines-button{
	display: inline-block;
	padding: @button-size/6 @button-size/6;
	cursor: pointer;
	user-select: none;
	border-radius: @button-size/7;
	.transform( rotate(180deg) );
	.transition-transform( 1s, background .3s, top .3s; );
	.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
	&:hover{
		opacity: 1;
		.lines{
			&:before{ 
				top: @button-size/3.5;
				}
			&:after{
				top: -@button-size/3.5;
			}
		}
	}
	&.arrow.closeBtn{
		.transform( scale3d(.8, .8, .8) rotate(0deg) );
		.lines{
			&:before,
			&:after {
				top: 0;
				width: @button-size/1.8;
			}
			&:before{
				.transform( rotate3d(0, 0, 1, 40deg) );
			}
			&:after{
				.transform( rotate3d(0, 0, 1, -40deg) );
			}
		}
	}
}

.lines{
	position: relative;
	.line();
	&:before, 
	&:after{
		position: absolute; left:0;
		content: '';
		.transform-origin( @button-size/14 center );
		.line();
	}
	&:before{ 
		top: @button-size/4;
	}
	&:after{
		top: -@button-size/4;
	}
}

//--------------
//	!Home		
//--------------

@digi: #ee584f;
@valk: #00a5e3;
@move: #faba00;

#home{
	&.fullPage{
		height: 100%;
	}
	.carousel{
		width: 100%;
		.carousel-inner{
			height: 100%;
			.item{
				width: 100%;
				min-height: 100%;
				&.digi{
					#gradient > .radial(lighten(@digi, 10%); darken(@digi, 10%));
				}
				&.valkenswaard{
					#gradient > .radial(lighten(@valk, 10%); darken(@valk, 10%));
				}
				&.movements{
					#gradient > .radial(lighten(@move, 10%); darken(@move, 10%));
				}
				.item-content{
					position: absolute; top: 0; right: 0; left: 0; bottom: 0;
					margin: auto;
					.projectFrame{
						width: 55%;
						margin: 0 auto 40px;
						h1{
							display: block;
							margin: 0;
							border-radius: 5px;
							
							color: @white;
							font-family: @heading;
							font-size: 2.5em;
							font-weight: 100;
							text-transform: uppercase;
							text-align: left;
						}
						img{
							display: block;
							max-width: 100%;
							//max-height: 450px;
							height: auto;
							width: auto;
						}	
					}
				}
				.carousel-caption{
					position: relative;
					width: 100%;
					padding: 0;
					.btn{
						font-family: @body;
						font-size: 24px;
						font-weight: 400;
						width: 100%;
						padding: 15px;
						&.btn-primary{
							color: @white;
						}
						&.btn-default{
							margin-right: 40px;
						}
					}
				}
				img{
					padding-top: 5px;
					margin: auto;
				}
			}
		}
	}
}


//--------------
//	!About		
//--------------

#about{
	//height: 99%;
	background-color: @white;
	h1{
		background: @white;
		margin-top: -65px;
	}
	h2{
		text-align: center;
	}
	img.portrait{
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: auto;
		text-align: center;
	}
	.expLabels{
		p{
			height: 20px;
			margin-bottom: 10px;
			line-height: 20px;
			//text-align: right;
		}
	}
	.progress{
		margin-bottom: 10px;
	}
	.applicationList{
		width: 730px;
		margin: 0 auto 60px;
		button{
			background: transparent;
			border: none;
			padding: 0;
			img{
				height: 80px;
				width: auto;
				padding: 0;
				margin: 0 10px 0 0;
			}
		}
	}
}


//--------------
//	!Portfolio		
//--------------

#portfolio{
	background-color: @colorMain;
	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 30px;
	}
	h1{
		color: @white;
	}
}

ul#portfolio-filter{
	display: inline-block;
	margin: 0;
	padding: 0 10px 0;
	li{
		display: inline;
	}
	.btn-success,
	.btn-danger,
	.btn-info{
		color: @white
	}
	.btn-default{
		color: @grey-50;
	}
}

ul#portfolio-list{
	margin: 15px 0 50px 0;
	padding: 0 10px 0;
	list-style: none;
	li{
		position: relative;
		display: table;
		width: 32.32%;
		float: left;
		margin: 0 1% 1% 0;
		overflow: hidden;
		&:hover{
			&:after{
				opacity: 0.5;
			}
			> img{
				.transform( rotate(5deg) scale(1.2, 1.2) );
			}
			> p span{
				.transform( translate(20px, 0) );
			}
		}
		&:after{
			content: '';
			position: absolute; top: 0; left: 0;
			width: 100%;
			height: 100%;
			background: @black;
			opacity: 0;
			.transition( opacity 0.3s );
		}
		&.interactive p span{
			background: desaturate(@brand-success, 30%);
		}
		&.av p span{
			background: desaturate(@brand-danger, 30%);
		}
		&.graphic p span{
			background: desaturate(@brand-info, 30%);
		}
		img{
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			.transform( rotate(0deg) scale(1,1) );
			.transition-transform( .3s );
			.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
		}
		&:hover + p{
			opacity: 1;
		}
		a{
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
		p{
			pointer-events: none;
			position: absolute; top: 0; left: 0;
			top: 50%;
			margin-top: -37px;
			color: @white;
			font-size: .7em;
			text-align: left;
			vertical-align: middle;
			z-index: 2;
			span{
				display: inline-block;
				margin-bottom: 5px;
				padding: 3px 10px;
				.transition-transform( .3s );
				.transform( translate(-150%, 0) );
				.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
			}
		}
	}
}

.modal-body .imgLink{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	a{
		display: block;
		text-decoration: none;
		img{
			max-width: 100%;
			height: auto;
			box-shadow: 0 0 10px -2px @shadowDark;
		}
	}
	&:hover > .imgLinkText{
		top: 0;
	}
	.imgLinkText{
		position: absolute; top: 100%;
		pointer-events: none;
		width: 100%;
		height: 100%;
		padding-top: 25%;
		background-color: fade(@colorMain, 90%);
		.transition( top 0.3s );
		.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
		
		color: @white;
		text-align: center;
		font-family: @heading;
		font-size: 4em;
	}
}

.modal-dialog{
	margin-top: 65px !important;
}


//--------------
//	!Contact		
//--------------

#contact{
	background-color: @black;
	margin: auto;
	.container{
		display: block;
	}
	.contactContent{
		position: relative;
		display: block;
		margin: 0 auto 60px;
		padding: 30px;
		background: @colorMain;
		h1{
			color: @white;
			text-align: left;
			margin: 0 0 10px;
		}
		h3{
			color: @white;
			margin: 10px 0;
		}
		.contactForm{
			display: none;
			opacity: 0;
			.transition( opacity .5s );
			&.show{
				opacity: 1;
			}
			i.hideForm{
				position: absolute; top: 0; right: 0;
				padding: 10px;
				font-size: 1.5em;
				color: @shadow;
				.transition( color .3s );
				&:hover{
					color: @glow;
				}
			}
		}
	}
	#googlemaps{ 
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
	}
}

form{
	input, textarea{
		width: 100%;
		border: 1px solid @grey-20;
		padding: 10px;
		margin: 10px 0 20px;
		border-radius: 2px;
		box-shadow: 0 0 8px -5px @shadow;
		.transition( background .8s, border .8s );
		resize: none;
	}
	textarea{
		padding: 20px 50px;
		.error{
			background: @brand-danger;
			border-color: darken(@brand-danger, 20%);
			&::-webkit-input-placeholder{
				color: darken(@brand-danger, 20%);
			}
			&::-moz-placeholder{
				color: darken(@brand-danger, 20%);
			}
			&:-ms-input-placeholder{
				color: darken(@brand-danger, 20%);
			}
		}
	}
	.labelInput{
		position: relative;
		width: 100%;
		height: 50px;
		margin: 10px 0 20px;
		overflow: hidden;
		background: white;
		border: 1px solid @grey-20;
		border-radius: 2px;
		box-shadow: 0 0 8px -5px @shadow;
		&.error{
			background: @brand-danger;
			border-color: darken(@brand-danger, 20%);
			label{
				span.labelText{
					color: darken(@brand-danger, 20%);
				}
				span.glyphicon{
					color: darken(@brand-danger, 20%);
				}
			}
		}
		&.active label{
			span.labelText{
				opacity: 0;
				.transform( translate(150px, 0) );
			}
			span.glyphicon{
				.transform( translate(-35px, 0) );
			}
		}
		label{
			pointer-events: none;
			position: absolute; top: 12px;
			color: @grey-30;
			.transform( translate(50px, 0) );
			span.glyphicon{
				position: absolute;
				font-size: 1.5em;
				.transform( translate(-100px, 0) );
				.transition-transform( .3s, color .8s; );
				.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
			}
			span.labelText{
				opacity: 1;
				.transform( translate(0, 0) );
				.transition-transform( .3s, opacity .3s, color .8s; );
				.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
			}
		}
		input{
			height: 100%;
			margin: 0;
			padding-left: 50px;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
			border: 0;
		}
	}
}

.messageBox{
	position: fixed; top: 55px; right: 20px;
	display: none;
	background: @grey-10;
	width: 200px;
	min-height: 55px;
	padding: 10px;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 21px 20px -20px @shadowLight;
	.box-sizing( border-box );
	z-index: 20;
	i{
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
		color: @shadow;
		.transition( color .3s );
		&:hover{
			color: @colorMain;
		}
	}
	p{
		display: none;
		margin: 0;
		padding: 5px 10px;
		line-height: 1em;
		color: @shadow;
	}
 }

//--------------
//	!Footer		
//--------------

#footer{
	padding: 30px 0;
	background: @gray;
	box-shadow: inset 0 15px 25px -15px @shadowDark;
	.smBox{
		display: inline-block;
		width: 100%;
		.box-sizing( border-box );
		.sm{
			position: relative; top: 0;
			display: inline-block;
			width: 18%;
			margin-right: 1%;
			border-radius: 2px;
			box-shadow: 0 4px 0;
			.transition( top .2s, box-shadow .2s );
			&.tw{
				color: darken(#009fe3, 20%);
			}
			&.face{
				color: darken(#3d5294, 20%);
			}
			&.yt{
				color: darken(#cc181e, 20%);
			}
			&.plus{
				color: darken(#df4a32, 20%);
			}
			&.in{
				color: darken(#0177b5, 20%);
			}
			&.v{
				color: darken(#3d5294, 20%);
			}
			&.fm{
				color: darken(#e52923, 20%);
			}
			&:before{
				content: '';
				pointer-events: none;
				position: absolute; top: 0; left: 0; right: 0; bottom: 0;
				width: 100%;
				height: 100%;
				background: @glowLight;
				border-radius: 2px;
				opacity: 0;
				z-index: 1;
				.transition( opacity .3s );
			}
			&:hover{
				top: 2px;
				box-shadow: 0 2px 0;
				&:before{
					opacity: 1;
				}
			}
			a{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	h3{
		color: @white;
		margin-top: 0;
		padding-top: 0;
	}
	h6{
		color: @white;
		font-size: 0.7em;
		font-weight: 100;
		font-family: @heading;
		text-align: center;
	}
	ul{
		padding: 0;
		margin: 0 20px 0 0;
		list-style: none;
		float: left;
		li{ 
			a{
				padding: 10px 0;
			}
		}
	}
	a{
		border: none;
		text-decoration: none;
		img{
			width: 90px;
			height: auto;
		}
	}
}


//--------------
//	!Mixins		
//--------------

.transition( @value1,@value2:X,... ){
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.transition-transform( @value ){
    -webkit-transition: -webkit-transform @value;
    -moz-transition: -moz-transform @value;
    -ms-transition: -ms-transform @value;
    -o-transition: -o-transform @value;
    transition: transform @value;
}

.transition-timing( @value: cubic-bezier(0.7, 0, 0.3, 1) ){
	-webkit-transition-timing-function: @value;
	-moz-transition-timing-function: @value;
	-o-transition-timing-function: @value;
	transition-timing-function: @value;
}

.transform-origin( @value ){
	-webkit-transform-origin: @value;
	-moz-transform-origin: @value;
	-ms-transform-origin: @value;
	-o-transform-origin: @value;
	transform-origin: @value;
}


.transform( @value ){
	-webkit-transform: @value;
	-moz-transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	transform: @value;
}

.box-sizing( @value: border-box ){
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}

.user-select( @value: none ){
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.font-smoothing( @value1: antialiased, @value2: grayscale ){
	-webkit-font-smoothing: @value1;
	-moz-osx-font-smoothing: @value2;
}

.line(){
	display: inline-block;
	width: @button-size/1.2;
	height: @button-size/8;
	border-radius: @button-size/14; 
	.transition-transform( .3s, top .3s, background .3s; );
}

//--------------
//	!Responsive		
//--------------

/* !Desktop ------------------------- */
@media (max-width: 1200px) {
	.temp-debug:after{
		content:' desktop';
	}
	
	#home .carousel .carousel-inner .item{
		.projectFrame{
			width: 70%;
			h1{
				width: auto;
				text-align: left;
				font-size: 3.5em;
				margin-left: 10%;
			}
			img{
				width: 80%;
			}	
		}
	}
	
	ul#portfolio-list li{
		width: 32.32%;
	}
}

/* !Tablet to desktop ------------------------- */
@media (max-width: 980px) {
	.temp-debug:after{
		content:' Tablet to desktop';
	}
	
	#home .carousel .carousel-inner .item{
		h1{
			text-align: left;
			font-size: 2.5em;
			margin-left: 10%;
		}
		.carousel-caption{
			margin: 30px auto 70px;
			.btn{
				font-size: 18px;
				padding: 15px;
			}
		}
		img{
			width: 80%;
		}
	}
	
	ul#portfolio-list li{
		width: 48%;
	}
	
	#contact{
		button{
			display: block;
			margin-top: 20px;
		}
	}
	
}

/* !Tablet ------------------------- */
@media (max-width: 768px) {
	.temp-debug:after{
		content:' Tablet';
	}
	
	h1{
		font-size: 2.5em;
	}
	
	h3{
		font-size: 1.2em;
	}

	.fullPage{
			font-size: 0.8em;
			.container .vAlign{
				padding: 25px 0;
			}
	}
	
	#home .carousel .carousel-inner .item .item-content{ 
		position: relative;
		.projectFrame{
			width: 100%;
			margin-top: 5px;
			h1{
				text-align: left;
				font-size: 1.8em;
				margin-left: 10%;
			}
			img{
				width: 80%;
			}
		}
		.carousel-caption{
			position: static;
			margin: 30px auto 70px;
			.btn{
				font-size: 18px;
				padding: 15px;
				margin-top: 20px;
			}
		}
	}
	
	#home.fullPage,
	#about.fullPage,
	#portfolio.fullPage,
	#contact.fullPage{
	    height: auto;
    }
    
    #home.fullPage{
	    min-height: 20px;
    }
    
	.mainMenu{
		display: none;
	}
	
	.header{
		.mobileLink{
			display: block;
		}
		&.transHeader{
			.mobileLink{
				display: block;
			}
		}
	}
	
	#about{
		h1{
			font-size: 2.5em;
			margin-top: 0px;
			background: transparent;
			text-align: left;
		}
		h2{
			font-size: 1.8em;
			text-align: left;
			margin-top: 40px;
		}
		img.portrait{
			display: none;
		}
		.applicationList{
			width: auto;
			button img{
				height: 40px;
			}
		}
	}
	
	form textarea{
		padding: 10px 20px;
	}
	
	#portfolio{
		background-color: @colorMain;
		img{
			max-width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
	}
}

/* !Landscape phones ------------------------- */
@media (max-width: 480px) {
	.temp-debug:after{
		content:' Landscape phones';
	}
	
	#home .carousel .carousel-inner .item{
		h1{
			text-align: left;
			font-size: 1.5em;
			margin-left: 15%;
		}
		.carousel-caption{
			margin: 30px auto 70px;
			.btn{
				font-size: 1em;
				padding: 10px;
			}
		}
		img{
			width: 70%;
		}
	}
	
	#home.fullPage,
	#about.fullPage,
	#portfolio.fullPage,
	#contact.fullPage{
	    min-height: 20px;
	    height: auto;
    }
	
	.header{
		.mobileLink{
			display: block;
		}
		.logoText{
			display: none;
		}
		&.transHeader{
			.logo a img{
				height: 75px;
				width: auto;
			}
			.mobileLink{
				display: block;
				.mobileBtn{
					font-size: 2.4em;
				}
			}
		}
	}
	
	.cv{
		display: none;
	}
	
	.mobileBtn{
		display: block;
	}
	
	ul#portfolio-list li{
		margin: 0 0 5% 0;
		padding: 0;
		width: 100%;
	}
	
	#contact{
		button{
			a{
				margin-top: -10px;
			}
		}
	}
}