//--------------
//	!Import		
//--------------

@import "bootstrap/bootstrap.less";


//--------------
//	!Variables		
//--------------

// Colors
@mainOrange: #f79445;
@mainBody: #333;
@mainGray: #6c6b6a;

// Fonts
@body: 'Gentium Basic', serif;
@heading: 'Josefin Slab', serif;

// Button size
@button-size: 1em; 

//--------------
//	!Basic		
//--------------

html, body{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: @body;
	font-size: 1em;
	line-height: 1.6em;
}

p{
	font-family: @body;
	font-size: 0.9em;
	color: fade(@mainBody, 70%);
}

h1, h2, h3, h4, h5{
	font-family: @heading;
	color: @mainBody;
	font-weight: 100;
}

h1{
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 2.5em;
}

h5{
	font-size: 1.5em;
	color: @mainOrange;
	letter-spacing: 0.2em;
	padding: 0;
}

h6{
	font-family: @body;
	font-size: 1em;
	font-weight: bold;
	color: @mainOrange;
	text-transform: uppercase;
	padding: 0;
}


//--------------
//	!Header
//--------------

.header{
	width: 100%;
	height: 55px;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, .6);
	position: fixed; top: 0; left: 0;
	z-index: 10;
	.transition(background 0.3s ease-in-out);
	.mainMenu ul{
		margin: 7px auto 0;
		float: right;
		&.nav-pills>li>a{
			padding: 5px 10px;
			.transition(padding 0.3s ease-in-out);
		}
	}
	.mobileLink{
		position: fixed; top: 0; right: 0;
		display: none;
		margin-top: 12px;
		font-size: 1.4em;
		.lines{
			background: @mainOrange;
			&:before,
			&:after{
				background: @mainOrange;
			}
		}
		.mobileBtn{
			font-size: 2em;
			float: right;
			.transition(all 0.3s ease-in-out);
			span{
				float: right;
			}
		}
	}
	&.transHeader{
		background-color: transparent;
		box-shadow: none;
		color: white;
		.mobileLink{
			display: none;
			margin-top: 0;
			.lines{
				background: white;
				&:before,
				&:after{
					background: white;
				}
			}
			.mobileBtn{
				font-size: 3em;
				margin-top: 20px;
				float: right;
				color: white;
			}
		}
		.logoText{
			margin: 20px 0 0 60px;
			h5, h6{
				color: white;
			}
			h5{
				margin: 0;
			}
			h6{
				margin: -3px 0 0;
			}
		}
		.logo a img{
			height: 90px;
			display: block;
			margin-top: 5px;
		}
		.mainMenu ul{
			margin: 22px auto 0;
			&.nav-pills>li.active>a,
			&.nav-pills>li.active>a:focus,
			&.nav-pills>li.active>a:hover{
				background: white;
				color: @mainOrange;
			}
			&.nav-pills>li>a{
				padding: 10px 15px;
				color: white;
				background: transparent;
			}
			&.nav-pills>li a:hover{
				background: rgba(255, 255, 255, .5);
			}
		}
	}
	.logo{
		position: relative;
		float: left;
		a{
			border: none;
			text-decoration: none;
			img{
				position: absolute; left: 0;
				height: 50px;
				width: auto;
				margin-top: 3px;
				.transition(all 0.3s ease-in-out);
				&.logoWhite.makeOrange{
					opacity: 0;
				}
			}
		}
	}
	.logoText{
		margin: 3px 0 0 40px;
		.transition(margin 0.3s ease-in-out);
		h5{
			margin: 0;
		}
		h6{
			margin: -3px 0 0;
		}
	}
}

a.backTop{
	position: fixed; bottom: 20px; right: 20px;
	width: 55px;
	height: 55px;
	margin-top: 17px;
	padding: 5px;
	float: right;
	z-index: 15;
	
	background: @mainOrange;
	box-shadow: 0 0 20px -8px rgba(0, 0, 0, .4);
	color: white;
	opacity: 0;
	
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	
	.transition(all 0.3s ease-in-out);
	&.show{
		opacity: 1;
	}
}

//--------------
//	!Pages		
//--------------

.fullPage{
	width: 100%;
    height: 100%;
    min-height: 100%;
    height: auto;
	.container{
		position: relative; top: 0; left: 0;
		display: table;
		height: 100%;
		z-index: 5;
		.vAlign{
			padding: 40px 0;
			display: inline-block;
			display: table-cell;
			vertical-align: middle;
		}
	}
}


//--------------
//	!Mobile Menu		
//--------------

.mobilePage{
	position: fixed; left: -100%;
	width: 80%;
    height: 100%;
    min-height: 100%;
    height: auto;
    background: @mainOrange;
    z-index: 20;
    box-shadow: 0 0 50px -10px;
    .transition( left .8s );
    h1{
	    color: white;
    }
    ul.mobileMenu{
	    width: 100%;
	    margin: 40px 0 0;
	    padding: 0 10%;
	    list-style: none;
	    li{
		    width: 100%;
		    display: block;
		    margin: 0 0 20px 0;
		    text-align: center;
		    a{
			    display: block;
			    width: 100%;
			    padding: 10px;
			    font-family: @heading;
			    font-size: 1.3em;
			    font-weight: 100;
			    text-decoration: none;
			    color: white;
			    border: none;
			    .transition( background .3s );
			    &:hover{
				    background: rgba(255, 255, 255, .4);
				    border: none;
				    text-decoration: none;
			    }
		    }
	    }
    }
}
 
.lines-button{
	display: inline-block;
	padding: @button-size/4 @button-size/2;
	cursor: pointer;
	user-select: none;
	border-radius: @button-size/7;
	.transform( rotate(180deg) );
	.transition( transform 1s, background .3s, top .3s );
	.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
	&:hover{
		opacity: 1;
		.lines{
			&:before{ 
				top: @button-size/3.5;
				}
			&:after{
				top: -@button-size/3.5;
			}
		}
	}
	&.arrow.closeBtn{
		.transform( scale3d(.8, .8, .8) rotate(0deg) );
		.lines{
			&:before,
			&:after {
				top: 0;
				width: @button-size/1.8;
			}
			&:before{
				.transform( rotate3d(0, 0, 1, 40deg) );
			}
			&:after{
				.transform( rotate3d(0, 0, 1, -40deg) );
			}
		}
	}
}

.lines{
	position: relative;
	.line();
	&:before, 
	&:after{
		position: absolute; left:0;
		content: '';
		transform-origin: @button-size/14 center;
		.line();
	}
	&:before{ 
		top: @button-size/4;
	}
	&:after{
		top: -@button-size/4;
	}
}

//--------------
//	!Home		
//--------------

#home{
	&.fullPage{
		height: 100%;
	}
	.carousel{
		width: 100%;
		.carousel-inner{
			height: 100%;
			.item{
				width: 100%;
				min-height: 100%;
				&.digi{
					#gradient > .radial(#ee584f; #bc3c33);
				}
				&.valkenswaard{
					#gradient > .radial(#00a5e3; #174367);
				}
				&.movements{
					#gradient > .radial(#faba00; #e9ad00);
				}
				.item-content{
					margin: auto;
					.projectFrame{
						width: 55%;
						margin: 0 auto 40px;
						padding-top: 100px;
						h1{
							display: block;
							margin: 0;
							border-radius: 5px;
							
							color: white;
							font-family: @heading;
							font-size: 2.5em;
							font-weight: 100;
							text-transform: uppercase;
							text-align: left;
						}
						img{
							display: block;
							max-width: 100%;
							//max-height: 450px;
							height: auto;
							width: auto;
						}	
					}
				}
				.carousel-caption{
					position: relative;
					width: 100%;
					padding: 0;
					.btn{
						font-family: @body;
						font-size: 24px;
						font-weight: 400;
						width: 100%;
						padding: 15px;
						&.btn-primary{
							color: white;
						}
						&.btn-default{
							margin-right: 40px;
						}
					}
				}
				img{
					padding-top: 5px;
					margin: auto;
				}
			}
		}
	}
}


//--------------
//	!About		
//--------------

#about{
	background-color: white;
	h1{
		margin-top: -70px;
		background: white;
	}
	h2{
		text-align: center;
	}
	img.portrait{
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: auto;
		text-align: center;
	}
	.expLabels{
		p{
			height: 20px;
			margin-bottom: 10px;
			line-height: 20px;
			//text-align: right;
		}
	}
	.progress{
		margin-bottom: 10px;
	}
	.applicationList{
		width: 730px;
		margin: auto;
		button{
			background: transparent;
			border: none;
			padding: 0;
			img{
				height: 80px;
				width: auto;
				padding: 0;
				margin: 0 10px 0 0;
			}
		}
	}
}


//--------------
//	!Portfolio		
//--------------

#portfolio{
	background-color: @mainOrange;
	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 30px;
	}
	h1{
		margin-top: 65px;
		color: white;
	}
}

ul#portfolio-filter{
	display: inline-block;
	margin: 0;
	padding: 0 10px 0;
	li{
		display: inline;
	}
	.btn-success,
	.btn-danger,
	.btn-info{
		color: white
	}
	.btn-default{
		color: @mainBody;
	}
}

ul#portfolio-list{
	margin: 15px 0 50px 0;
	padding: 0 10px 0;
	list-style: none;
	li{
		position: relative;
		display: table;
		width: 32.32%;
		float: left;
		margin: 0 1% 1% 0;
		overflow: hidden;
		&:hover{
			&:after{
				opacity: 0.5;
			}
			> a img{
				.transform( rotate(5deg) scale(1.2, 1.2) );
			}
			> p span{
				.transform( translate(20px, 0) );
			}
		}
		&:after{
			content: '';
			position: absolute; top: 0; left: 0;
			width: 100%;
			height: 100%;
			background: black;
			opacity: 0;
			.transition(opacity 0.3s ease-in-out);
		}
		&.interactive p span{
			background: desaturate(@brand-success, 30%);
		}
		&.av p span{
			background: desaturate(@brand-danger, 30%);
		}
		&.graphic p span{
			background: desaturate(@brand-info, 30%);
		}
		img{
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			.transform( rotate(0deg) scale(1,1) );
			.transition(transform 0.3s ease-in-out);
			.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
		}
		&:hover + p{
			opacity: 1;
		}
		a{
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
		p{
			pointer-events: none;
			position: absolute; top: 0; left: 0;
			top: 50%;
			margin-top: -37px;
			color: white;
			font-size: .7em;
			text-align: left;
			vertical-align: middle;
			z-index: 2;
			span{
				display: inline-block;
				margin-bottom: 5px;
				padding: 3px 10px;
				.transition(transform 0.3s);
				.transform( translate(-150%, 0) );
				.transition-timing( cubic-bezier(0.7, 0, 0.3, 1) );
			}
		}
	}
}

.modal-body .imgLink{
	width: 868px;
	height: 488px;
	overflow: hidden;
	margin-bottom: 20px;
	a{
		text-decoration: none;
		img{
			max-width: 100%;
			height: auto;
			box-shadow: 0 0 10px -2px rgba(0,0,0,0.7);
		}
	}
	&:hover > .imgLinkText{
		top: -488px;
	}
	.imgLinkText{
		pointer-events: none;
		
		position: relative; top: 0;
		width: 868px;
		height: 488px;
		background-color: fade(@mainOrange, 90%);
		.transition( top 0.3s );
		
		color: white;
		text-align: center;
		font-family: @heading;
		font-size: 4em;
		line-height: 488px;
	}
}


//--------------
//	!Contact		
//--------------

#contact{
	background-color: black;
	.contactContent{
		margin-left: 60px;
		padding-top: 100px;
		h1{
			display: inline;
			background: @mainOrange;
			color: white;
			text-align: left;
			padding: 10px;
			margin-bottom: 10px;
		}
		h3{
			display: inline;
			background: @mainOrange;
			color: white;
			padding: 10px;
			line-height: 40px;
		}
	}
	#googlemaps{ 
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
	}
}


//--------------
//	!Footer		
//--------------

#footer{
	padding: 30px 0;
	background: @gray;
	box-shadow: inset 0 15px 25px -15px rgba(0,0,0,0.7);
	h3{
		color: white;
		margin-top: 0;
		padding-top: 0;
	}
	h6{
		color: white;
		font-size: 0.7em;
		font-weight: 100;
		font-family: @heading;
		text-align: center;
	}
	ul{
		padding: 0;
		margin: 0 20px 0 0;
		list-style: none;
		float: left;
		li{ 
			a{
				padding: 10px 0;
			}
		}
	}
	a{
		border: none;
		text-decoration: none;
		img{
			width: 90px;
			height: auto;
		}
	}
}


//--------------
//	!Mixins		
//--------------

.transition( @value1,@value2:X,... ){
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.transition-timing( @value: cubic-bezier(0.7, 0, 0.3, 1) ){
	-webkit-transition-timing-function: @value;
	-moz-transition-timing-function: @value;
	-o-transition-timing-function: @value;
	transition-timing-function: @value;
}


.transform( @value ){
	-webkit-transform: @value;
	-moz-transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	transform: @value;
}

.box-sizing( @value: border-box ){
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}

.user-select( @value: none ){
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.font-smoothing( @value1: antialiased, @value2: grayscale ){
	-webkit-font-smoothing: @value1;
	-moz-osx-font-smoothing: @value2;
}

.line(){
	display: inline-block;
	width: @button-size/1.2;
	height: @button-size/8;
	border-radius: @button-size/14; 
	.transition( transform .3s, top .3s );
}

//--------------
//	!Responsive		
//--------------

/* !Desktop ------------------------- */
@media (max-width: 1200px) {
	.temp-debug:after{
		content:' desktop';
	}
	
	#home .carousel .carousel-inner .item{
		.projectFrame{
			width: 70%;
			h1{
				width: auto;
				text-align: left;
				font-size: 3.5em;
				margin-left: 10%;
			}
			img{
				width: 80%;
			}	
		}
	}
	
	ul#portfolio-list li{
		width: 32.32%;
	}
}

/* !Tablet to desktop ------------------------- */
@media (max-width: 980px) {
	.temp-debug:after{
		content:' Tablet to desktop';
	}
	
	#home .carousel .carousel-inner .item{
		h1{
			text-align: left;
			font-size: 2.5em;
			margin-left: 10%;
		}
		.carousel-caption{
			margin: 30px auto 70px;
			.btn{
				font-size: 18px;
				padding: 15px;
			}
		}
		img{
			width: 80%;
		}
	}
	
	ul#portfolio-list li{
		width: 48%;
	}
	
}

/* !Tablet ------------------------- */
@media (max-width: 768px) {
	.temp-debug:after{
		content:' Tablet';
	}
	
	#home .carousel .carousel-inner .item{
		h1{
			text-align: left;
			font-size: 2em;
			margin-left: 10%;
		}
		.carousel-caption{
			position: static;
			margin: 30px auto 70px;
			.btn{
				font-size: 18px;
				padding: 15px;
			}
		}
		img{
			width: 80%;
		}
	}
	
	#home.fullPage,
	#about.fullPage,
	#portfolio.fullPage,
	#contact.fullPage{
	    height: auto;
    }
    
    #home.fullPage{
	    min-height: 20px;
    }
    
	.mainMenu{
		display: none;
	}
	
	.header{
		.mobileLink{
			display: block;
		}
		&.transHeader{
			.mobileLink{
				display: block;
			}
		}
	}
	
	#about{
		h1{
			font-size: 2.5em;
			margin-top: 0px;
			background: transparent;
			text-align: left;
		}
		h2{
			font-size: 1.8em;
			text-align: left;
			margin-top: 40px;
		}
		img.portrait{
			display: none;
		}
		.applicationList{
			width: auto;
			button img{
				height: 40px;
			}
		}
	}
	
	#portfolio{
		background-color: @mainOrange;
		img{
			max-width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
		h1{
			margin-top: 40px;
		}
	}
}

/* !Landscape phones ------------------------- */
@media (max-width: 480px) {
	.temp-debug:after{
		content:' Landscape phones';
	}
	
	#home .carousel .carousel-inner .item{
		h1{
			text-align: left;
			font-size: 1.5em;
			margin-left: 15%;
		}
		.carousel-caption{
			margin: 30px auto 70px;
			.btn{
				font-size: 1em;
				padding: 10px;
			}
		}
		img{
			width: 70%;
		}
	}
	
	#home.fullPage,
	#about.fullPage,
	#portfolio.fullPage,
	#contact.fullPage{
	    min-height: 20px;
	    height: auto;
    }
	
	.header{
		.mobileLink{
			display: block;
		}
		&.transHeader{
			.mobileLink{
				display: block;
			}
		}
	}
	
	.logoText{
		display: none;
	}
	
	.mobileBtn{
		display: block;
	}
	
	ul#portfolio-list li{
		margin: 0 0 5% 0;
		padding: 0;
		width: 100%;
	}
}